<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="use.user.dao.UserMapper">
	<resultMap id="BaseResultMap"
		type="use.user.model.UserModel">
		<id column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="USER_LOGIN_ID" property="userLoginId"
			jdbcType="VARCHAR" />
		<result column="USER_LOGIN_PWD" property="userLoginPwd"
			jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		USER_ID,USER_LOGIN_ID,USER_LOGIN_PWD, NAME
	</sql>
	<insert id="insert"
		parameterType="use.user.model.UserModel">
		insert into USER_TABLE
		(
			USER_ID
			,USER_LOGIN_ID
			,USER_LOGIN_PWD
			, NAME)
		values 
		(
			#{userId,jdbcType=VARCHAR}
			,#{userLoginId,jdbcType=VARCHAR}
			,#{userLoginPwd,jdbcType=VARCHAR}
			,#{name,jdbcType=VARCHAR}
		)
	</insert>
	<select id="login" parameterType="hashMap" resultType="use.user.model.UserModel">
		select
			USER_ID as userId
			,USER_LOGIN_ID as userLoginId
			,USER_LOGIN_PWD as userLoginPwd
			,NAME
		from user_table
		where USER_LOGIN_ID = #{userLoginId} and USER_LOGIN_PWD = #{userLoginPwd} 
	</select>
	
	<select id="idCheck" parameterType="java.lang.String" resultType="use.user.model.UserModel">
		select
			USER_ID as userId
			,USER_LOGIN_ID as userLoginId
			,USER_LOGIN_PWD as userLoginPwd
			,NAME
		from user_table
		where USER_LOGIN_ID = #{userLoginId} 
	</select>
	
</mapper>